<!-- added 12.12.24: created 'add' feature for frontend of account owners in database -->
@model AppointmentAddViewModel

<h2>Schedule Appointment</h2>
@if (ViewData["ErrorMessage"] != null)
{
    <p class="text-danger">@ViewData["ErrorMessage"]</p>
}

<form method="post" asp-controller="Appointment" asp-action="Add">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Appointment.Id" />
    <input type="hidden" asp-for="Appointment.OwnerId" />

    <div class="mb-3">
        <label asp-for="Appointment.date" class="form-label">Date</label>
        <input asp-for="Appointment.date" type="datetime-local" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
        <span asp-validation-for="Appointment.date" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Appointment.description" class="form-label">Describe purpose of appointment</label>
        <textarea asp-for="Appointment.description" class="form-control"></textarea>
        <span asp-validation-for="Appointment.description" class="text-danger"></span>
    </div>

    <!-- added 1.17.25: updated 'format' field to 'meetingFormat' -->
    <div class="mb-3">
        <label asp-for="Appointment.OwnertimeZone" class="form-label">What is your Time Zone?</label>
        <input asp-for="Appointment.OwnertimeZone" class="form-control" value="@(Model.Appointment?.OwnertimeZone?.ToString("o") ?? "")" />
        <span asp-validation-for="Appointment.OwnertimeZone" class="text-danger"></span>
    </div>

    <!-- 1.17.25: added meeting format to add appointments section -->
    <div class="mb-3">
        <label asp-for="Appointment.format" class="form-label">How would your like to meet?</label>
        <input asp-for="Appointment.format" class="form-control" />
        <span asp-validation-for="Appointment.format" class="text-danger"></span>
    </div>

    <!-- 1.17.25: added Time Allotted to add appointments section -->
    <div class="mb-3">
        <label asp-for="Appointment.timeAllotted" class="form-label">For how many minutes are we meeting?</label>
        <input asp-for="Appointment.timeAllotted" type="number" class="form-control" />
        <span asp-validation-for="Appointment.timeAllotted" class="text-danger"></span>
    </div>

    <input type="submit" class="btn btn-primary" value="Schedule" />
</form>

<p>
    <a asp-action="Index">Back to Appointments</a>
</p>
